/* h3{
    color: yellow;
}

.caja{
    background-color: rgb(33, 61, 134);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.rem;
    width: 300px;
    height: 150px;
    margin: 5px;
    padding: 3px;

}

#caja2{
    background-color: green;
}  */

h3{
    color: yellow;
}
.caja{
    background-color: rgb(33, 61, 134);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid greenyellow 3px;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 3px;
    text-align: center;
    color: white;
}

#caja1 {
    position: static; /* Es la posición predeterminada */
    background-color: rgb(22, 247, 10);
    

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#caja2 {
    position: relative;
    top: 40px; /* Se moverá 20px hacia abajo */
    left: 20px; /* Se moverá 10px hacia la derecha */
    background-color: rgb(223, 3, 3);
}

#caja3 {
    position: absolute;
    top: 50px;
    left: 50px;
} 

#caja4 {
    position: fixed;
    top: 50px;
    left: 200px;
} 

#caja4 {
    position: fixed;
    top: 50px;
    left: 200px;
}


